# PostgreSQL owned by Account Service
ACCOUNT_POSTGRES_USER=account_user
ACCOUNT_POSTGRES_PASSWORD=changeThisLocalPassword
ACCOUNT_POSTGRES_DB=account_db
ACCOUNT_POSTGRES_PORT=5432
ACCOUNT_DATABASE_URL=postgres://account_user:changeThisLocalPassword@account-postgres:5432/account_db

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=change-this-password

REDIS_URL=redis://:your-password@redis:6379
REDIS_CONNECT_TIMEOUT_MS=2000
CACHE_TTL_SECONDS=60

# RabbitMQ
RABBITMQ_USER=todo_user
RABBITMQ_PASSWORD=change-this-rabbitmq-password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

RABBITMQ_URL=amqp://todo_user:change-this-rabbitmq-password@rabbitmq:5672
RABBITMQ_EXCHANGE=todo.events
RABBITMQ_NOTIFICATION_QUEUE=todo.notifications
RABBITMQ_DEAD_LETTER_EXCHANGE=todo.events.dlx
RABBITMQ_NOTIFICATION_DLQ=todo.notifications.dlq

OUTBOX_BATCH_SIZE=20
OUTBOX_POLL_INTERVAL_MS=1000
OUTBOX_LOCK_TIMEOUT_SECONDS=60
OUTBOX_MAX_RETRY_DELAY_SECONDS=300

# Mailpit
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

# API Gateway
API_PORT=3000
LOG_LEVEL=info
ACCOUNT_SERVICE_URL=http://account-service:3001
DOWNSTREAM_TIMEOUT_MS=5000
INTERNAL_SERVICE_SECRET=replace-this-with-a-random-secret-containing-at-least-32-characters


# Account Service
ACCOUNT_SERVICE_PORT=3001
DATABASE_MAX_CONNECTIONS=10
DATABASE_CONNECTION_TIMEOUT_MS=5000
DATABASE_IDLE_TIMEOUT_MS=30000
DATABASE_QUERY_TIMEOUT_MS=2000
PASSWORD_HASH_ROUNDS=12

#Logging
LOG_LEVEL=info


#JWT
JWT_SECRET=replace-with-a-random-secret-containing-at-least-32-characters
JWT_ISSUER=todo-account-service
JWT_AUDIENCE=todo-platform
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_SECONDS=604800

#PASSWORD
PASSWORD_RESET_TOKEN_TTL_MINUTES=15


#TOservice
TODO_POSTGRES_USER=todo_user
TODO_POSTGRES_PASSWORD=replace-with-a-secure-todo-database-password
TODO_POSTGRES_DB=todo_db
# TODO Service
TODO_SERVICE_PORT=3002
REQUEST_BODY_LIMIT=100kb
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT_MS=5000
DATABASE_IDLE_TIMEOUT_MS=30000
SHUTDOWN_TIMEOUT_MS=10000

# TODO owner projection
RABBITMQ_EXCHANGE=todo.events
RABBITMQ_RETRY_EXCHANGE=todo.events.retry
RABBITMQ_DEAD_LETTER_EXCHANGE=todo.events.dlx

TODO_OWNER_QUEUE=todo.owner-projection
TODO_OWNER_RETRY_QUEUE=todo.owner-projection.retry
TODO_OWNER_DEAD_LETTER_QUEUE=todo.owner-projection.dlq

TODO_OWNER_CONSUMER_PREFETCH=10
TODO_OWNER_RETRY_DELAY_MS=5000
TODO_OWNER_MAX_RETRIES=5

TODO_SERVICE_URL=http://todo-service:3002
INTERNAL_IDENTITY_MAX_AGE_SECONDS=30