POSTGRES_USER=todo_app_user
POSTGRES_PASSWORD=todo_password
POSTGRES_DB=todo_db
POSTGRES_PORT=5432

REDIS_PORT=6379

DATABASE_URL=postgres://todo_app_user:todo_password@localhost:5432/todo_db
REDIS_URL=redis://localhost:6379

PORT=3000
JWT_SECRET=JWT_SECRET_TOKEN_HERE
JWT_EXPIRES_IN_SECONDS=900
LOG_LEVEL=info

CACHE_TTL_SECONDS=60