POSTGRES_USER=todo_app_user
POSTGRES_PASSWORD=todo_password
POSTGRES_DB=todo_db
POSTGRES_PORT=5432

REDIS_PORT=6379

DATABASE_URL=postgres://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:{POSTGRES_PORT}/{POSTGRES_DB}
REDIS_URL=redis://localhost:{REDIS_PORT}

PORT=3000
JWT_SECRET=JWT_SECRET_TOKEN_HERE
JWT_EXPIRES_IN_SECONDS=900
LOG_LEVEL=info